@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500&family=Open+Sans:wght@200;300;400;600&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #000000;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.5s ease-in-out;
}

.container-active {
  filter: blur(3px);
}
