@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Open+Sans:wght@200;300;400;600&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #000000;
}
