.burger {
  position: absolute;
  top: 40px;
  left: 70px;
  z-index: 10;
  cursor: pointer;
}

.burger div {
  height: 3px;
  width: 25px;
  margin: 5px 0;
  transition: all 0.3s ease;
  transition-delay: 0s;
}

.burger div div {
  background-color: #fff;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
  transition-delay: 0.3s;
}

.active .line-1 {
  transform: translateY(4px);
}

.active .line-2 {
  transform: translateY(-4px);
}

.active .line-1 .line-inner-1 {
  transform-origin: center;
  transform: rotate(-45deg);
}

.active .line-2 .line-inner-2 {
  transform-origin: center;
  transform: rotate(45deg);
}
